<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolt</title>
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link rel="stylesheet" href="../assets/styles/homepage.css" />
    <link rel="stylesheet" href="../assets/styles/sidebar.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">
            &#9776;
          </button>
          <a href="./index.html">boltom</a>
        </div>
        <div class="header-links">
          <a href="./cart.html">Cart</a>
          <a href="./signin.html">Sign In</a>
        </div>
      </header>
      <aside class="sidebar">
        <h3>Shopping categories</h3>
        <span>
          <button class="sidebar-close-button" onclick="closeMenu()"><</button>
        </span>
        <ul>
          <li>
            Pants
          </li>
          <li>
            Shirts
          </li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="../assets/images/d1.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="./product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
                <div class="rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="../assets/images/d1.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="./product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
                <div class="rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="../assets/images/d1.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="./product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
                <div class="rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="../assets/images/d1.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="./product.html">Slim shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">$60</div>
                <div class="rating">4.5 stars (10 reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        All rights reserved ©
      </footer>
    </div>
    <script>
      function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>
